# This is a sample JWT_SECRET. You can generate one here https://jwtsecretkeygenerator.com/
JWT_SECRET=B8AWD2onfXfaUMB1taYKtIVuJIS5UKd1FohECgIVdM0

# This is the base url of the vpic api
NEXT_PUBLIC_VPIC_BASE_URL=https://vpic.nhtsa.dot.gov/api/vehicles

BASE_URL=http://localhost:3000
